{% extends 'base.html' %}
{% block content %}

<div class='portrait'><img src='/images/portrait.png'></div>
<p>I'm a full-stack web developer looking for a new job in the San Francisco Bay Area. You can reach me at vivian.brown@gmail.com.</p>

<p>Outside of software, I like cooking, yoga, riding my bike, and reading about economic theory and social movements. A great way to get a sense of my interests is to check out my <a href="http://www.goodreads.com/">Goodreads</a> page.</p>

<p>Community is really important to me. In my free time, I like sharing meals and catching up with my roommates and close friends. The same goes for work - I'm happiest when I can form close relationships with the people around me.</p>
<!--
<p>I'm also a member of a feminist hackerspace called <a href='https://www.doubleunion.org/'>Double Union</a> where I work on projects, drink tea, and serve on the Multiculturalism and Inclusion Committee.</p> -->

{% endblock %}
