<!DOCTYPE html>
<html lang = "en">
<head>
	<title>Vivian Brown</title>
	<link rel="stylesheet" type="text/css" href="/css/folio-theme.fonts.css" />
	<link rel="stylesheet" type="text/css" href="/css/folio-theme.hacks.css" />
	<link rel="stylesheet" type="text/css" href="/css/folio-theme.no-query.css" />
	<link rel="stylesheet" type="text/css" href="/css/folio-theme.normalize.css" />
	<link rel="stylesheet" type="text/css" href="/css/folio-theme.styles.css" />
	<meta charset = "utf-8" />
</head>
<body>

<div class='page'>
	<header>
		<h1><a href='/'>Vivian Brown</a></h1>
		<h2 class='subtitle'>Web developer in Berkeley, CA</h2>
	</header>
	<nav>
		<ul>
			<li class='{{ base == "projects" }}'><a href='/projects'>Projects</a></li>
			<li class='{{ base == "writing" }}'><a href='/writing'>Writing</a></li>
			<li class='{{ base == "resume" }}'><a href='/files/Vivian_Brown_Resume.pdf' target='_blank'>Resume</a></li>
			<li class='{{ base == "about" }}'><a href='/about'>About</a></li>
		</ul>
	</nav>
	<div class='main-content'>
		<article>
			{% block content %}

			{% endblock %}
		</article>
	</div>
	<div class="push"></div>
</div>

<footer>
	<div class='contact'>
		vivian.brown@gmail.com
	</div>
	<div class='social-media'>
		<ul>
			<li><a href='https://github.com/vbrown608' target='_blank'>Github</a></li>
			<li><a href='http://www.linkedin.com/profile/view?id=99560260' target='_blank'>LinkedIn</a></li>
			<li><a href='https://twitter.com/vbrown608' target='_blank'>Twitter</a></li>
			<li><a href='https://www.goodreads.com/user/show/24178333-vivian-brown' target='_blank'>Goodreads</a></li>
		</ul>
	</div>
</footer>

</body>
