{% extends 'base.html' %}
{% block content %}

<div class='homepage-thumbs'>
  <div class='thumb'><a href='/projects/opendisclosure'><img src='/images/opendisclosure-square.png' title='Oakland Campaign Contribution Map'></a></div>

  <div class='thumb'><a href='/projects/metatictactoe'><img src='/images/metatictactoe-square.png' title='metaTicTacToe'></a></div>

  <div class='thumb'><a href='/projects/bioacoustics'><img src='/images/bioacoustics-square.png' title='H. J. Andrews Experimental Forest'></a></div>

  <div class='thumb'><a href='/projects/machine-translation'><img src='/images/machine-translation-square.png' title="Georges Artrouni's mechanical brain"></a></div>
</div>

{% endblock %}
