{% extends 'base.html' %}
{% block content %}

<!-- <a href='/projects/metatictactoe'><img src='/images/npx-square.png' title='metaTicTacToe'></a>
<h3><a href='/projects/machine-translation'>Without My Consent</a></h3>

<a href='/projects/metatictactoe'><img src='/images/npx-square.png' title='metaTicTacToe'></a>
<h3><a href='/projects/machine-translation'>New Play Exchange</a></h3>

<a href='/projects/metatictactoe'><img src='/images/prospera-square.png' title='metaTicTacToe'></a>
<h3><a href='/projects/machine-translation'>Prospera Coops</a></h3> -->
<div class='project-list'>
  <div class='project'>
    <div class='thumb'>
      <a href='/projects/opendisclosure'><img src='/images/opendisclosure-square.png' title='Oakland Campaign Contribution Map'></a>
    </div>
    <div class='teaser'>
      <h3><a href='/projects/opendisclosure'>Open Disclosure Oakland</a></h3>
      <div class='description'>
        Interactive visualization of Oakland Campaign Finance data in JavaScript and D3. Part of Code for America's Open Oakland Brigade.
      </div>
    </div>
  </div>

  <div class='project'>
    <div class='thumb'>
      <a href='/projects/metatictactoe'><img src='/images/metatictactoe-square.png' title='metaTicTacToe'></a>
    </div>
    <div class='teaser'>
      <h3><a href='/projects/metatictactoe'>Meta Tic Tac Toe</a></h3>
      <div class='description'>
        A web-based strategy game in Python and JavaScript. Game-playing AI based on adversarial search.
      </div>
    </div>
  </div>

  <div class='project'>
    <div class='thumb'>
      <a href='/projects/bioacoustics'><img src='/images/bioacoustics-square.png' title='H. J. Andrews Experimental Forest'></a>
    </div>
    <div class='teaser'>
      <h3><a href='/projects/bioacoustics'>Oregon State Bioacoustics Project</a></h3>
      <div class='description'>
        Application of machine learning to identify birdsong in recordings from H. J. Andrews Experimental Forest.
      </div>
    </div>
  </div>

  <div class='project'>
    <div class='thumb'>
      <a href='/projects/machine-translation'><img src='/images/machine-translation-square.png' title="Georges Artrouni's mechanical brain"></a>
    </div>
    <div class='teaser'>
      <h3><a href='/projects/machine-translation'>Re-Ranking Text Simplification</a></h3>
      <div class='description'>
        Improvements to machine translation from complex to simple English.
      </div>
    </div>
  </div>
</div>

{% endblock %}
