{% extends 'base.html' %}
{% block content %}

<!-- <a href='/projects/metatictactoe' target='_blank'><img src='/images/npx-square.png' title='metaTicTacToe'></a>
<h3><a href='/projects/machine-translation'>Without My Consent</a></h3>

<a href='/projects/metatictactoe' target='_blank'><img src='/images/npx-square.png' title='metaTicTacToe'></a>
<h3><a href='/projects/machine-translation'>New Play Exchange</a></h3>

<a href='/projects/metatictactoe' target='_blank'><img src='/images/prospera-square.png' title='metaTicTacToe'></a>
<h3><a href='/projects/machine-translation'>Prospera Coops</a></h3> -->

<a href='/projects/opendisclosure' target='_blank'><img src='/images/opendisclosure-square.png' title='Oakland Campaign Contribution Map'></a>
<h3><a href='/projects/opendisclosure'>Open Disclosure Oakland</a></h3>

<a href='/projects/metatictactoe' target='_blank'><img src='/images/metatictactoe-square.png' title='metaTicTacToe'></a>
<h3><a href='/projects/metatictactoe'>MetaTicTacToe</a></h3>

<a href='/projects/bioacoustics' target='_blank'><img src='/images/bioacoustics-square.png' title='H. J. Andrews Experimental Forest'></a>
<h3><a href='/projects/bioacoustics'>Machine Learning: Oregon State Bioacoustics Projects</a></h3>

<a href='/projects/machine-translation' target='_blank'><img src='/images/machine-translation-square.png' title="Georges Artrouni's mechanical brain"></a>
<h3><a href='/projects/machine-translation'>Machine Translation: Re-Ranking Text Simplification</a></h3>

{% endblock %}
