{% extends 'base.html' %}
{% block content %}
<div class='resume'>

<h1>Vivian G. Brown</h1>
<div class='download-link'><a href='/files/Vivian_Brown_Resume.pdf' target='_blank'>[Download PDF]</a></div>
<p>
  Drupal/PHP developer at Quilted cooperative. Designed and built web applications in Python, JavaScript/JQuery/D3, HTML5 and CSS3. Wrote and published widely read research on Agile software development and user experience delivery. Conducted research using applied predictive analysis and machine learning techniques on bioacoustic data.
</p>

<h2>Education</h2>
<ul>
  <li>Pomona College, Claremont, CA 2007-2011</li>
  <li>Bachelor of Arts in Cognitive Science</li>
  <li>Minor in Computer Science</li>
  <li>Cum Laude, GPA 3.81/4.00</li>
  <li>Undergraduate thesis in machine translation</li>
  <ul>
    <li>Identified features of simple sentences based on models of linguistic complexity</li>
    <li>Working in Java, re-ranked the output of a probabilistic phrase-based translation model using a support vector machine re-ranker to improve machine translation</li>
  </ul>
</ul>

<h2>Professional Experience</h2>
<h3>Developer and Candidate Worker/Owner, <em>Quilted</em> (June 2014-present)</h3>
<ul>
  <li>Web development in Drupal with custom PHP development</li>
  <li>Fully responsive front-end development using JavaScript and Sass</li>
  <li>Lead developer on two client projects</li>
  <li>Major contributor on five client projects, following an Agile process with significant pair programming</li>
  <li>Behavior-driven development using Behat and Selenium and git version control on all projects</li>
  <li>Database experience in MySQL and MongoDB</li>
  <li>Implemented subscription-based payment processing using Stripe API</li>
  <li>Participation in consensus-based decision-making process working towards business co-ownership</li>
</ul>

<h3>IT Researcher/Analyst, <em>Forrester Research</em> (October 2012-present)</h3>
<ul>
  <li>Wrote syndicated research on Agile software development, requirements definition, cloud platforms, and predictive analytics tools for senior application development leaders in Fortune 500 IT organizations</li>
  <li>Automated team processes in Visual Basic and JavaScript/Google App Script including integration with Salesforce via OAuth2</li>
  <li>Worked on 3,000+ respondent surveys including survey design, data cuts and analysis, and creation of figures for publication in Adobe Illustrator</li>
  <li>Awarded “Best Research Award” Q3 2012 and “Most Courageous Research Award” Q3 2013</li>
  <li>Promoted to Senior Research Associate after twelve months, then promoted to Researcher after five months</li>
</ul>

<h3>Machine Learning Research Assistant to Dr. Xiaoli Fern, <em>Oregon State University</em> (Summer 2010)</h3>
<ul>
  <li>Working in C++, applied predictive analysis and machine learning techniques to bioacoustic data</li>
  <li>Contributed to a shared code base on a five-person team</li>
  <li>Collected, read, and summarized research on bioacoustic data analysis with focus on random forest algorithm</li>
  <li>Summarized results in a written report and presented at the Grace Hopper Conference for Women in Computing</li>
</ul>

<h3>Web Administrator for Department of Cognitive Science and Linguistics, <em>Pomona College</em> (2010-2011)</h3>
<ul>
  <li>Worked with faculty and staff to update the content and design of department website</li>
  <li>Using HTML and CSS, updated navigation system, restructured faculty profiles, and posted regular updates</li>
</ul>

<h3>Computer Science Teaching Assistant Department of Computer Science, <em>Pomona College</em> (2010-2011)</h3>
<ul>
  <li>TA for “Fundamentals of Computer Science” and “Data Structures” courses</li>
  <li>Facilitated programming labs and held weekly office hours to assist with assignments in Java, C++, and SML</li>
</ul>

<h2>Highlighted Personal Projects</h2>
<h3>Open Disclosure Oakland (opendisclosure.io)</h3>
<ul>
  <li>Volunteer project as part of Code for America’s Oakland Brigade</li>
  <li>Visual design, interaction design, and development of interactive visualizations of campaign finance data</li>
  <li>Fully responsive design implemented in CSS, JavaScript, and D3</li>
  <li>Map-based visualization of geospatial data</li>
</ul>

<h3>MetaTicTacToe (metatictactoe.appspot.com)</h3>
<ul>
  <li>Visual design, interaction design, and development of browser-based strategy game</li>
  <li>Backend in Python on Google App Engine, GQL, Google Channel API, webapp2 framework, Jinja2 templating</li>
  <li>Frontend in JavaScript, JQuery, HTML5, CSS3</li>
  <li>Implemented adversarial search using negamax algorithm with alpha-beta pruning</li>
</ul>

<h3>CSA Match (code at github.com/vbrown608/csa-match)</h3>
<ul>
  <li>Backend in Python on Google App Engine, GQL, Google Channel API, webapp2 framework, Jinja2 templating</li>
  <li>Map-based visualization of geospatial data using Google Maps JavaScript API v3</li>
  <li>Implemented geospatial search of CSA records using Google Search API</li>
</ul>

</div>
{% endblock %}

