{% extends 'base.html' %}
{% block content %}

<p>At Forrester Research I wrote about enterprise software development. My coverage areas were digital experience delivery,
requirements definition and management, and software development organizations. Below are some reports I contributed to as an author:</p>

<div class='report'>
  <h3><a href='http://www.forrester.com/Align+ADD+And+Marketing+Metrics+For+Delivery/quickscan/-/E-RES111181' target='_blank'>Align AD&amp;D And Marketing Metrics For Delivery</a></h3>
  <h4>Performance Management: The Digital Experience Delivery Playbook</h4>
  <div class='byline'>Vivian Brown</div>
</div>

<div class='report'>
  <h3><a href='http://www.forrester.com/How+And+Why+Customers+Choose+Public+Cloud+Platforms/quickscan/-/E-RES107401' target='_blank'>How And Why Customers Choose Public Cloud Platforms</a></h3>
  <h4>Fast Delivery Is Just The Beginning</h4>
  <div class='byline'>John R. Rymer, Vivian Brown</div>
</div>

<div class='report'>
  <h3><a href='http://www.forrester.com/Development+Landscape+2013/quickscan/-/E-RES99261' target='_blank'>Development Landscape: 2013</a></h3>
  <h4>Developer Forrsights North America And Europe</h4>
  <div class='byline'>Jeffrey S. Hammond, Vivian Brown</div>
</div>

<br>
<p>As a Research Associate, I supported analysts by conducting interviews, building and analyzing surveys,
fact-checking, and leading project management. Below are a few of the reports I worked on:</p>

<div class='report'>
  <h3><a href='http://www.forrester.com/The+Forrester+Wave+Enterprise+Public+Cloud+Platforms+Q2+2013/quickscan/-/E-RES86441' target='_blank'>The Forrester Wave: Enterprise Public Cloud Platforms, Q2 2013</a></h3>
  <h4>One Size Does Not Fit All Developer Needs</h4>
  <div class='byline'>John R. Rymer, James Staten</div>
</div>

<div class='report'>
  <h3><a href='http://www.forrester.com/The+Future+Of+Customer+Data+Management/quickscan/-/E-RES89425' target='_blank'>The Future Of Customer Data Management</a></h3>
  <h4>Vision: The Customer Data Management Playbook</h4>
  <div class='byline'>Noel Yuhanna, Mike Gualtieri</div>
</div>

<div class='report'>
  <h3><a href='http://www.forrester.com/The+Forrester+Wave+Big+Data+Predictive+Analytics+Solutions+Q1+2013/quickscan/-/E-RES85601' target='_blank'>The Forrester Wave: Big Data Predictive Analytics Solutions, Q1 2013</a></h3>
  <div class='byline'>Mike Gualtieri</div>
  </div>

<div class='report'>
  <h3><a href='http://www.forrester.com/The+State+Of+Digital+Customer+Experience+Technology+2013/quickscan/-/E-RES95441' target='_blank'>The State Of Digital Customer Experience Technology, 2013</a></h3>
  <h4>Findings From Forrester's Digital Customer Experience Online Survey</h4>
  <div class='byline'>Anjali Yakkundi</div>
</div>

{% endblock %}
