{% extends 'base.html' %}
{% block content %}
<a href='http://metatictactoe.appspot.com/' target='_blank'><img src='/images/mttt_home.png' width=724px title='metaTicTacToe'></a>
<h1 class='page-title'>MetaTicTacToe</h1>
<div class='subtitle'><a href='http://metatictactoe.appspot.com/' target='_blank'>Play here</a> | <a href='https://github.com/vbrown608/metaTicTacToe' target='_blank'>Code on GitHub</a></div>
<p>MetaTicTacToe is a variation of tic-tac-toe.</p>
<p>I learned to play on paper in college. In 2013
I turned it into a web game. Users can play their friends, or play against a computer agent.</p>


<h4>Skills for this projects</h4>
	<ul>
	<li>UI and graphic design</li>
	<li>Front-end web development
		<ul>
		<li>JavaScript</li>
		<li>JQuery</li>
		<li>HTML</li>
		<li>CSS</li>
		</ul>
	<li>Back-end web development</li>
		<ul>
		<li>Google App Engine for Python</li>
		<li>Google Channel API</li>
		<li>webapp2 framework</li>
		<li>Jinja2</li>
		</ul>
	<li>Adverserial search (negamax with alpha-beta pruning)</li>
	</ul>

{% endblock %}




