footer {
  @include remify-style(padding-top, 40px);
  @include remify-style(padding-bottom, 16px);
  @include clearfix;
  width: 100%;

  .social-media {
    float: left;
    padding-right: 50px;


    ul {
      @include clearfix;
      @include item-list;
    }
  }

  .contact {
    @include remify-style(font-size, 14px);
    @include remify-style(padding-top, 56px);
    font-family: Inconsolata;
    float: right;
  }
}
