
header {
  @include remify-style(margin-bottom, 25px);

  @include breakpoint($narrow) {
    @include remify-style(margin-bottom, 40px);
  }

  h1 {
    @include remify-style(font-size, 38px);
    font-family: $sans-serif-condensed;
    font-weight: 400;
    margin-bottom: 0;

    // a {
    //   @include link-colors($teal, $teal, $teal, $teal, $teal);
    // }
  }

  .subtitle {
    @include remify-style(font-size, 14px);
  }
}

nav {
  @include remify-style(margin-bottom, 30px);

  @include breakpoint($narrow) {
    @include remify-style(margin-bottom, 18px);
  }

  ul {
    @include clearfix;
    @include item-list;
    @include remify-style(font-size, 22px);
    font-family: $sans-serif-condensed;
    font-weight: 400;

    @include breakpoint($normal) {
      @include remify-style(margin-bottom, 26px);
    }
  }

  li {
    &.True {
      text-decoration: underline;
    }

    @include breakpoint($narrow) {
      @include remify-style(padding-right, 112px);
      display: block;
      float: left;

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

}
