
header h1 {
  @include remify-style(font-size, 38px);
  font-family: $sans-serif-condensed;
  font-weight: 400;
  margin-bottom: 0;
}

header .subtitle {
  @include remify-style(margin-bottom, 40px);
  @include remify-style(font-size, 14px);
}

nav ul {
  @include clearfix;
  @include item-list;
  @include remify-style(margin-bottom, 18px);
  @include remify-style(font-size, 22px);
  font-family: $sans-serif-condensed;
  font-weight: 400;

  @include breakpoint($normal) {
    @include remify-style(margin-bottom, 26px);
  }

  li {
    @include breakpoint($narrow) {
      @include remify-style(padding-right, 112px);
      display: block;
      float: left;

      &:last-of-type {
        padding-right: 0;
      }
    }

  }
}
