.homepage-thumbs {
  @include clearfix;

  .thumb {
    @include remify-style(margin-bottom, 20px);
    @include clearfix;
    position: relative;
    display: block;
    float: left;
    max-width: 380px;
    width: 100%;

    @include breakpoint($narrow) {
      @include remify-style(width, 215px);
      @include remify-style(height, 215px);
      @include remify-style(margin-right, 17px);
      @include remify-style(margin-bottom, 17px);

      &:nth-child(3) {
        margin-right: 0;
      }
    }

    @include breakpoint($normal) {
      @include remify-style(width, 294px);
      @include remify-style(height, 294px);
      @include remify-style(margin-right, 19px);
      @include remify-style(margin-bottom, 19px);

      &:nth-child(3) {
        margin-right: 0;
      }
    }

  }

  .teaser {
    @include remify-style(padding, 6px);
    text-align: center;
    @include rgba-background(#FFF, .8);

    @include breakpoint($narrow) {
      top: 0;
      padding-top: 0;
      padding-bottom: 0;
      display: none;
      position: absolute;
    }

    @include breakpoint($normal) {
    }

    &.js-hover {
      cursor: pointer;
    }
  }

}

.project-teaser {
  float: left;
}

.more-link {
  width: 100%;
  text-align: center;
  @include remify-style(font-size, 15px);
}
