/* line 38, ../sass/abstractions/_toolkit.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* line 99, ../sass/abstractions/_toolkit.scss */
.visually-hidden,
.element-invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 171, ../sass/abstractions/_toolkit.scss */
.strike-through {
  text-decoration: line-through; }

/* line 1, ../sass/layout/_1_sticky_footer.scss */
* {
  margin: 0; }

/* line 4, ../sass/layout/_1_sticky_footer.scss */
html, body {
  height: 100%; }

/* line 7, ../sass/layout/_1_sticky_footer.scss */
.page {
  min-height: 100%;
  margin: 0 auto -128px;
  /* the bottom margin is the negative value of the footer's height */ }

/* line 14, ../sass/layout/_1_sticky_footer.scss */
.footer, .push {
  height: 128px;
  /* .push must be the same height as .footer */ }

/* line 14, ../../../../../../.rbenv/versions/1.9.3-p448/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 3, ../sass/layout/_2_layout.scss */
.page, footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../../.rbenv/versions/1.9.3-p448/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .page:after, footer:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 755px) {
    /* line 3, ../sass/layout/_2_layout.scss */
    .page, footer {
      max-width: 740px;
      margin-left: auto;
      margin-right: auto; }
      /* line 12, ../../../../../../.rbenv/versions/1.9.3-p448/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
      .page:after, footer:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 995px) {
    /* line 3, ../sass/layout/_2_layout.scss */
    .page, footer {
      max-width: 980px;
      margin-left: auto;
      margin-right: auto; }
      /* line 12, ../../../../../../.rbenv/versions/1.9.3-p448/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
      .page:after, footer:after {
        content: " ";
        display: block;
        clear: both; } }

/* line 18, ../sass/layout/_2_layout.scss */
.page, footer {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 755px) {
    /* line 18, ../sass/layout/_2_layout.scss */
    .page, footer {
      padding-left: 30px;
      padding-right: 30px; } }

/* line 1, ../sass/base/_forms.scss */
label,
select {
  display: block; }

/* line 6, ../sass/base/_forms.scss */
label {
  cursor: pointer; }

/* line 10, ../sass/base/_forms.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/* line 17, ../sass/base/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/* line 43, ../sass/base/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 50, ../sass/base/_forms.scss */
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; }

/* line 59, ../sass/base/_forms.scss */
select,
input[type="file"] {
  *margin-top: 4px;
  width: 100%; }

@media (min-width: 755px) {
  /* line 66, ../sass/base/_forms.scss */
  input[type="file"] {
    width: auto; } }

/* line 1, ../sass/base/_lists.scss */
ul,
ol {
  padding-left: 20px; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 5, ../sass/base/_media.scss */
span[data-picture] {
  display: block;
  line-height: 0; }

/* line 1, ../sass/base/_tables.scss */
table {
  width: 100%; }

/* line 1, ../sass/base/_typography.scss */
body {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 13px;
  font-size: 0.8125rem; }

/* line 6, ../sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  font-weight: 400; }

/* line 17, ../sass/base/_typography.scss */
h1 {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "Roboto Condensed", Helvetica, sans-serif; }

/* line 23, ../sass/base/_typography.scss */
h2 {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "Roboto Condensed", Helvetica, sans-serif; }

/* line 38, ../sass/base/_typography.scss */
p {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem; }

/* line 42, ../sass/base/_typography.scss */
a {
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-decoration: none; }

/* line 60, ../sass/base/_typography.scss */
em {
  font-style: italic; }

/* line 77, ../sass/base/_typography.scss */
.subtitle, .resume .download-link {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  font-size: 16px;
  font-size: 1rem;
  font-family: "Inconsolata", Georgia, Times, serif;
  font-weight: 400; }

/* line 84, ../sass/base/_typography.scss */
.page-title {
  margin-bottom: 4px;
  margin-bottom: 0.25rem; }

/* line 1, ../sass/components/_about.scss */
.portrait {
  margin-bottom: 20px; }

/* line 1, ../sass/components/_footer.scss */
footer {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  width: 100%; }
  /* line 38, ../sass/abstractions/_toolkit.scss */
  footer:after {
    content: "";
    display: table;
    clear: both; }
  /* line 7, ../sass/components/_footer.scss */
  footer .social-media {
    float: left;
    padding-right: 50px; }
    /* line 12, ../sass/components/_footer.scss */
    footer .social-media ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      /* line 38, ../sass/abstractions/_toolkit.scss */
      footer .social-media ul:after {
        content: "";
        display: table;
        clear: both; }
  /* line 18, ../sass/components/_footer.scss */
  footer .contact {
    font-size: 14px;
    font-size: 0.875rem;
    padding-top: 56px;
    padding-top: 3.5rem;
    font-family: Inconsolata;
    float: right; }

/* line 2, ../sass/components/_header.scss */
header h1 {
  font-size: 38px;
  font-size: 2.375rem;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 0; }

/* line 9, ../sass/components/_header.scss */
header .subtitle, header .resume .download-link, .resume header .download-link {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  font-size: 14px;
  font-size: 0.875rem; }

/* line 14, ../sass/components/_header.scss */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
  font-size: 22px;
  font-size: 1.375rem;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-weight: 400; }
  /* line 38, ../sass/abstractions/_toolkit.scss */
  nav ul:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 995px) {
    /* line 14, ../sass/components/_header.scss */
    nav ul {
      margin-bottom: 26px;
      margin-bottom: 1.625rem; } }
  /* line 27, ../sass/components/_header.scss */
  nav ul li.True {
    text-decoration: underline; }
  @media (min-width: 755px) {
    /* line 26, ../sass/components/_header.scss */
    nav ul li {
      padding-right: 112px;
      padding-right: 7rem;
      display: block;
      float: left; }
      /* line 36, ../sass/components/_header.scss */
      nav ul li:last-of-type {
        padding-right: 0; } }

/* line 38, ../sass/abstractions/_toolkit.scss */
.homepage-thumbs:after {
  content: "";
  display: table;
  clear: both; }
/* line 4, ../sass/components/_homepage.scss */
.homepage-thumbs .thumb {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  position: relative;
  display: block;
  float: left;
  max-width: 380px; }
  /* line 38, ../sass/abstractions/_toolkit.scss */
  .homepage-thumbs .thumb:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 755px) {
    /* line 4, ../sass/components/_homepage.scss */
    .homepage-thumbs .thumb {
      width: 215px;
      width: 13.4375rem;
      height: 215px;
      height: 13.4375rem;
      margin-right: 17px;
      margin-right: 1.0625rem;
      margin-bottom: 17px;
      margin-bottom: 1.0625rem; }
      /* line 18, ../sass/components/_homepage.scss */
      .homepage-thumbs .thumb:nth-child(3) {
        margin-right: 0; } }
  @media (min-width: 995px) {
    /* line 4, ../sass/components/_homepage.scss */
    .homepage-thumbs .thumb {
      width: 294px;
      width: 18.375rem;
      height: 294px;
      height: 18.375rem;
      margin-right: 19px;
      margin-right: 1.1875rem;
      margin-bottom: 19px;
      margin-bottom: 1.1875rem; }
      /* line 29, ../sass/components/_homepage.scss */
      .homepage-thumbs .thumb:nth-child(3) {
        margin-right: 0; } }
/* line 36, ../sass/components/_homepage.scss */
.homepage-thumbs .teaser {
  padding: 6px;
  padding: 0.375rem;
  text-align: center;
  background-color: #FFF; }
  @media (min-width: 755px) {
    /* line 36, ../sass/components/_homepage.scss */
    .homepage-thumbs .teaser {
      top: 60px;
      top: 3.75rem;
      display: none;
      position: absolute; } }
  @media (min-width: 995px) {
    /* line 36, ../sass/components/_homepage.scss */
    .homepage-thumbs .teaser {
      top: 112px;
      top: 7rem;
      padding-top: 10px;
      padding-top: 0.625rem;
      padding-bottom: 10px;
      padding-bottom: 0.625rem; } }

/* line 56, ../sass/components/_homepage.scss */
.project-teaser {
  float: left; }

/* line 60, ../sass/components/_homepage.scss */
.more-link {
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-size: 0.9375rem; }

/* line 38, ../sass/abstractions/_toolkit.scss */
.project-list:after {
  content: "";
  display: table;
  clear: both; }
/* line 4, ../sass/components/_projects.scss */
.project-list .project {
  width: 100%; }
  /* line 38, ../sass/abstractions/_toolkit.scss */
  .project-list .project:after {
    content: "";
    display: table;
    clear: both; }
/* line 9, ../sass/components/_projects.scss */
.project-list .thumb {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  display: block;
  float: left;
  max-width: 215px; }
  @media (min-width: 755px) {
    /* line 9, ../sass/components/_projects.scss */
    .project-list .thumb {
      width: 215px;
      width: 13.4375rem;
      max-width: none;
      margin-right: 17px;
      margin-right: 1.0625rem;
      margin-bottom: 17px;
      margin-bottom: 1.0625rem; }
      /* line 21, ../sass/components/_projects.scss */
      .project-list .thumb:nth-child(3) {
        margin-right: 0; } }
  @media (min-width: 995px) {
    /* line 9, ../sass/components/_projects.scss */
    .project-list .thumb {
      width: 294px;
      width: 18.375rem;
      margin-right: 26px;
      margin-right: 1.625rem;
      margin-bottom: 26px;
      margin-bottom: 1.625rem; }
      /* line 31, ../sass/components/_projects.scss */
      .project-list .thumb:nth-child(3) {
        margin-right: 0; } }
/* line 37, ../sass/components/_projects.scss */
.project-list .teaser {
  width: 100%;
  clear: both; }
  @media (min-width: 755px) {
    /* line 37, ../sass/components/_projects.scss */
    .project-list .teaser {
      @inclue remify-style(width, 448px);
      clear: none; } }
  /* line 46, ../sass/components/_projects.scss */
  .project-list .teaser .description {
    margin-bottom: 50px; }

/* line 6, ../sass/components/_resume.scss */
.resume p, .resume ul {
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }
/* line 10, ../sass/components/_resume.scss */
.resume h2 {
  margin-top: 25px;
  margin-top: 1.5625rem; }

/* line 1, ../sass/components/_writing.scss */
.report {
  margin-bottom: 18px;
  margin-bottom: 1.125rem; }
  /* line 4, ../sass/components/_writing.scss */
  .report h3 {
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 4px;
    margin-bottom: 0.25rem; }
  /* line 9, ../sass/components/_writing.scss */
  .report h4 {
    margin-bottom: 4px;
    margin-bottom: 0.25rem; }
  /* line 13, ../sass/components/_writing.scss */
  .report .byline {
    font-style: italic; }

/*# sourceMappingURL=folio-theme.styles.css.map */
