{% extends 'base.html' %}
{% block content %}
<div class='writeup'>
	<h1 class='page-title'>New Play Exchange</h1>
	<div class='subtitle'><a href='http://newplayexchange.org/' target='_blank'>Visit the site</a></div>

	<p>The New Play Exchange is a streamlined script discovery and recommendation engine for the new play sector. I worked on the New Play Exchange as a developer and candidate worker-owner at Quilted.</p>

	<p>In this project, I implemented subscription-based payment processing using the <strong>Stripe</strong> API. We integrated payment into the new user sign-up workflow and gave users the ability to manage their subscriptions. </p>

	<p>This project was built in <strong>Drupal</strong> and <strong>PHP</strong>, along with <strong>JavaScript</strong> on the front end.</p>
</div>

<div class='screenshots sidebar'>
	<a href='/images/npx-home-normal.png'><img src='/images/npx-home-normal.png'></a>
</div>

<div class='screenshots bottom'>
	<a href='/images/npx-signup-normal.png'><img class='normal' src='/images/npx-signup-normal.png'></a>
	<a href='/images/npx-signup-narrow.png'><img class='narrow' src='/images/npx-signup-narrow.png'></a>
	<a href='/images/npx-signup-mobile.png'><img class='mobile' src='/images/npx-signup-mobile.png'></a>

</div>
{% endblock %}