{% extends 'base.html' %}
{% block content %}
<div class='writeup'>
	<h1 class='page-title'>Open Disclosure</h1>
	<div class='subtitle'><a href='http://opendisclosure.io/' target='_blank'>Live site</a> | <a href='https://github.com/openoakland/opendisclosure' target='_blank'>Code on GitHub</a></div>

	<p>Open Disclosure is an Oakland campaign finance transparency app created by Code for America's Oakland volunteer "Brigade". The app is written in <strong>Ruby</strong> using the Sinatra framework. My focus for this project was to design and build charts in <strong>JavaScript</strong> and <strong>D3</strong>.</p>

	<p>I built an interactive app showing campaign contributions by zip code and candidate, as well as a chart showing campaign contributions over time.</p>
</div>

<div class='screenshots'>
	<a href='/images/opendisclosure-overview.png'><img src='/images/opendisclosure-overview.png'></a>
	<a href='/images/opendisclosure-quan.png'><img src='/images/opendisclosure-quan.png'></a>
</div>
{% endblock %}
