{% extends 'base.html' %}
{% block content %}
<div class='writeup'>
	<h1 class='page-title'>Prospera</h1>
	<div class='subtitle'><a href='http://prosperacoops.org/' target='_blank'>Visit the site</a></div>

	<p>Prospera coops organizational site built as part of my role as developer and candidate worker-owner at Quilted. Prospera's site is built in <strong>Drupal</strong>, <strong>PHP</strong>, and <strong>JavaScript.</strong></p>
</div>

<div class='screenshots sidebar'>
	<a href='/images/prospera-home-normal.png'><img src='/images/prospera-home-normal.png'></a>
</div>

<div class='screenshots bottom'>
	<a href='/images/prospera-staff-normal.png'><img class='normal' src='/images/prospera-staff-normal.png'></a>
	<a href='/images/prospera-staff-narrow.png'><img class='narrow' src='/images/prospera-staff-narrow.png'></a>
	<a href='/images/prospera-staff-mobile.png'><img class='mobile' src='/images/prospera-staff-mobile.png'></a>
</div>
{% endblock %}