@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot");
  src: url("../fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto_italic_macroman/Roboto-Italic-webfont.eot");
  src: url("../fonts/roboto_italic_macroman/Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_italic_macroman/Roboto-Italic-webfont.woff") format("woff"), url("../fonts/roboto_italic_macroman/Roboto-Italic-webfont.ttf") format("truetype"), url("../fonts/roboto_italic_macroman/Roboto-Italic-webfont.svg#robotoitalic") format("svg");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto_light_macroman/Roboto-Light-webfont.eot");
  src: url("../fonts/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_light_macroman/Roboto-Light-webfont.woff") format("woff"), url("../fonts/roboto_light_macroman/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.eot");
  src: url("../fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.woff") format("woff"), url("../fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.ttf") format("truetype"), url("../fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.svg#robotolight_italic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot");
  src: url("../fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff") format("woff"), url("../fonts/roboto_thin_macroman/Roboto-Thin-webfont.ttf") format("truetype"), url("../fonts/roboto_thin_macroman/Roboto-Thin-webfont.svg#robotothin") format("svg");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.eot");
  src: url("../fonts/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.woff") format("woff"), url("../fonts/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.ttf") format("truetype"), url("../fonts/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.svg#robotothin_italic") format("svg");
  font-weight: 200;
  font-style: italic; }

/*# sourceMappingURL=folio-theme.fonts.css.map */
