/* line 38, ../sass/abstractions/_toolkit.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* line 99, ../sass/abstractions/_toolkit.scss */
.visually-hidden,
.element-invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 171, ../sass/abstractions/_toolkit.scss */
.strike-through {
  text-decoration: line-through; }

/* line 1, ../sass/layout/_1_sticky_footer.scss */
html, body {
  height: 100%; }

/* line 5, ../sass/layout/_1_sticky_footer.scss */
.l-page {
  min-height: 100%;
  position: relative;
  padding-bottom: 508px; }

/* line 11, ../sass/layout/_1_sticky_footer.scss */
.l-main {
  min-height: 100%; }

/* line 15, ../sass/layout/_1_sticky_footer.scss */
.l-footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

/* line 14, ../../../../../../.rbenv/versions/1.9.3-p448/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 3, ../sass/layout/_2_layout.scss */
.page {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../../.rbenv/versions/1.9.3-p448/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .page:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 755px) {
    /* line 3, ../sass/layout/_2_layout.scss */
    .page {
      max-width: 740px;
      margin-left: auto;
      margin-right: auto; }
      /* line 12, ../../../../../../.rbenv/versions/1.9.3-p448/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
      .page:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 995px) {
    /* line 3, ../sass/layout/_2_layout.scss */
    .page {
      max-width: 980px;
      margin-left: auto;
      margin-right: auto; }
      /* line 12, ../../../../../../.rbenv/versions/1.9.3-p448/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
      .page:after {
        content: " ";
        display: block;
        clear: both; } }

/* line 23, ../sass/layout/_2_layout.scss */
.page {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 755px) {
    /* line 23, ../sass/layout/_2_layout.scss */
    .page {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1235px) {
    /* line 23, ../sass/layout/_2_layout.scss */
    .page {
      padding-left: 50px;
      padding-right: 50px; } }

/* line 1, ../sass/base/_forms.scss */
label,
select {
  display: block; }

/* line 6, ../sass/base/_forms.scss */
label {
  cursor: pointer; }

/* line 10, ../sass/base/_forms.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/* line 17, ../sass/base/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/* line 43, ../sass/base/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 50, ../sass/base/_forms.scss */
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; }

/* line 59, ../sass/base/_forms.scss */
select,
input[type="file"] {
  *margin-top: 4px;
  width: 100%; }

@media (min-width: 755px) {
  /* line 66, ../sass/base/_forms.scss */
  input[type="file"] {
    width: auto; } }

/* line 1, ../sass/base/_lists.scss */
ul,
ol {
  padding-left: 20px; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 5, ../sass/base/_media.scss */
span[data-picture] {
  display: block;
  line-height: 0; }

/* line 1, ../sass/base/_tables.scss */
table {
  width: 100%; }

/* line 1, ../sass/base/_typography.scss */
body {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 13px;
  font-size: 0.8125rem; }

/* line 6, ../sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 10px;
  margin-bottom: 0.625rem; }

/* line 16, ../sass/base/_typography.scss */
h1, h2 {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "Roboto Condensed", Helvetica, sans-serif; }

/* line 33, ../sass/base/_typography.scss */
a {
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-decoration: none; }

/* line 51, ../sass/base/_typography.scss */
em {
  font-style: italic; }

/* line 68, ../sass/base/_typography.scss */
.subtitle {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  font-size: 16px;
  font-size: 1rem;
  font-family: "Inconsolata", Georgia, Times, serif;
  font-weight: 400; }

/* line 75, ../sass/base/_typography.scss */
.page-title {
  margin-bottom: 4px;
  margin-bottom: 0.25rem; }

/* line 1, ../sass/components/_footer.scss */
.social-media {
  float: right;
  padding-right: 50px; }
  /* line 6, ../sass/components/_footer.scss */
  .social-media ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    /* line 38, ../sass/abstractions/_toolkit.scss */
    .social-media ul:after {
      content: "";
      display: table;
      clear: both; }

/* line 2, ../sass/components/_header.scss */
header h1 {
  font-size: 38px;
  font-size: 2.375rem;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 0; }

/* line 9, ../sass/components/_header.scss */
header .subtitle {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  font-size: 14px;
  font-size: 0.875rem; }

/* line 14, ../sass/components/_header.scss */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
  font-size: 22px;
  font-size: 1.375rem;
  padding-bottom: 9px;
  padding-bottom: 0.5625rem;
  border-bottom: 1px solid black;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-weight: 400; }
  /* line 38, ../sass/abstractions/_toolkit.scss */
  nav ul:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 755px) {
    /* line 24, ../sass/components/_header.scss */
    nav ul li {
      padding-right: 112px;
      padding-right: 7rem;
      display: block;
      float: left; }
      /* line 34, ../sass/components/_header.scss */
      nav ul li:last-of-type {
        padding-right: 0; } }

/*# sourceMappingURL=folio-theme.styles.css.map */
