@for $i from 0 through 7 {
  .stamp-#{$i} {
    display: none;

    @include breakpoint($narrow) {
      @include retina-sprite('stamp-' + $i, $hover: false, $active: false);
      @include image-replace;
      display: block;
      margin-left: 380px;
      margin-top: 70px;
    }

    @include breakpoint($normal) {
      margin-left: 565px;
    }

    @include breakpoint($wide) {
      margin-left: 730px;
    }
  }
}


.block--tude-general-footer-social-block {
  position: relative;
  margin-top: 126px;
}

.block--tude-general-footer-social-block .block__content {
  @include remify-style(height, 98px);
  @include remify-style(padding-top, 32px);
  text-align: center;
  position: absolute;
  top: -63px;
  z-index: 4;
  width: 100%;

  background: url('../images/backgrounds/Social_paint_stroke.png') no-repeat;
  @include retina-image('../images/backgrounds-2x/Social_paint_stroke.png', 524px, 98px);
  background-position: center;

  @include breakpoint($narrow) {
    @include remify-style(padding-left, 160px);
    @include remify-style(padding-top, 27px);
  }

  @include breakpoint($normal) {
    @include remify-style(padding-left, 277px);
  }

  @include breakpoint($wide) {
    @include remify-style(padding-left, 400px);
  }

  h3 {
    display: none;

    @include breakpoint($narrow) {
      @include remify-style(padding-top, 11px);
      @include remify-style(padding-right, 46px);
      display: block;
      float: left;
      font-family: $marker;
      color: $white;
    }
  }

  .social {
    @include remify-style(padding-right, 46px);
    display: inline-block;

    &:last-child {
      padding-right: 0;
    }

    @include breakpoint($narrow) {
      display: block;
      float: left;
    }
  }

  .facebook a {
    @include retina-sprite('Facebook_follow', $hover: true, $active: true);
    @include image-replace-link;
  }

  .twitter a {
    @include retina-sprite('Twitter_follow', $hover: true, $active: true);
    @include image-replace-link;
  }

  .instagram a {
    @include retina-sprite('Instagram_follow', $hover: true, $active: true);
    @include image-replace-link;
  }
}

.block--tude-general-footer-email-signup-block {
  @include clearfix;
  background-color: $fog;
  padding: 4%;
  @include remify-style(padding-top, 62px);
  @include remify-style(padding-bottom, 45px);

  @include breakpoint($narrow) {
    @include remify-style(padding, 55px);
  }

  .mc-field-group label {
    display: none;
  }

  #mce-EMAIL {
    @include big-field;
    @include remify-style(margin-bottom, 25px);
    @include remify-style(padding, 14px);
    @include remify-style(font-size, 20px);

    @include breakpoint($narrow) {
      @include big-field;
    }
  }

  #mc-embedded-subscribe {
    @include big-button;
    @include remify-style(padding, 14px);
    @include remify-style(font-size, 20px);

    @include breakpoint($narrow) {
      @include big-button;
    }
  }
}

.block--tude-general-footer-byline-block {
  @include clearfix;
  @include remify-style(padding, 6px);

  @include breakpoint($narrow) {
    @include remify-style(padding-left, 55px);
    @include remify-style(padding-right, 68px);
    position: relative;

    .contact {
      float: left;
    }

    .attribution {
      float: right;
    }

    .fattitude-woman {
      @include retina-sprite('Fattitude_girl_footer', $hover: false, $active: false);
      position: absolute;
      @include remify-style(top, -147px);
      right: 0;
    }
  }
}
