.front {
  h2 {
    margin-bottom: 20px;
  }
}

.block--tude-general-why-fattitude-block,
.block--views-updates-block {
  @include full-column;
  @include remify-style(margin-bottom, 45px);

  @include breakpoint($narrow) {
    float: left;
    width: 50%;
  }
}

.block--tude-general-why-fattitude-block {
  @include remify-style(font-size, 18px);
  @include remify-style(line-height, 28px);
}

.block--tude-general-homepage-donate-block {
  @include clearfix;
  padding-left: 10%;
  padding-right: 10%;
  @include remify-style(padding-top, 30px);
  @include remify-style(padding-bottom, 40px);

  background-color: $navy;

  h2 {
    color: $white;
  }

  a {
    @include big-button;
    display: block;

    &:hover {
      background-color: $slate;
    }
    &:active {
      background-color: $light-navy;
    }
  }

  .block__content {
    position: relative;
  }

  .asterix {
    @include retina-sprite('Asterix', $hover: false, $active: false);
    position: absolute;
    @include remify-style(left, -34px);
    @include remify-style(top, -8px);
  }

  @include breakpoint($narrow) {
    background-image: url('../images/backgrounds/edge_740.png');
    @include retina-image('../images/backgrounds-2x/edge_740.png', 740px, 17px);
    background-repeat: no-repeat;
    background-position: bottom;

    .block__content {
      @include clearfix;
      background-image: url('../images/backgrounds/underline.png');
      @include retina-image('../images/backgrounds-2x/underline.png', 129px, 17px);
      background-repeat: no-repeat;
      background-position: 25% 60%;
    }

    h2 {
      @include remify-style(margin-bottom, 26px);
    }
  }

  @include breakpoint($normal) {
    background-image: url('../images/backgrounds/edge_980.png');
    @include retina-image('../images/backgrounds-2x/edge_980.png', 980px, 21px);

    .block__content {
      background-position: 18% 97%;
    }

    h2 {
      @include remify-style(margin-bottom, 20px);
      width: 45%;
      float: left;
    }

    .donate-button {
      width: 55%;
      float: left;
      @include remify-style(padding, 35px);
      @include remify-style(padding-top, 68px);
      @include remify-style(padding-bottom, 68px);
    }
  }

  @include breakpoint($wide) {
    background-image: url('../images/backgrounds/edge_1220.png');
    @include retina-image('../images/backgrounds-2x/edge_1220.png', 1220px, 27px);

    .block__content {
      background-position: 14% 97%;
    }

    h2 {
      width: 40%;
    }

    .donate-button {
      width: 60%;
    }
  }
}

.block--views-updates-block .more-link,
.why-fattitude-learn-more {
  @include remify-style(margin-top, 35px);
  @include remify-style(margin-bottom, 50px);
  float: right;
  width: 100%;
  align: center;

  @include breakpoint($narrow) {
    @include remify-style(margin-bottom, 10px);
  }

  a {
    @include image-replace-link;
    margin: auto;
  }
}

.block--views-updates-block .more-link a {
  @include retina-sprite('See_more', $hover: true, $active: true);
}

.why-fattitude-learn-more {
  @include remify-style(margin-top, 20px);
}

.why-fattitude-learn-more a {
  @include retina-sprite('Learn_more', $hover: true, $active: true);
}
