.not-logged-in  {
  @include breakpoint($narrow) {
    .l-region--branding {
      height: 22px;
    }

    .block--tude-general-header-donate-block {
      position: fixed;
      top: 0px;
      width: $narrow-width;
      z-index: 4;
    }

    .header-wrapper {
      height: 160px;
    }

    .l-region--header {
      position: fixed;
      top: 22px;
      z-index: 0;
    }

    .l-region--navigation {
      position: relative;
    }
  }

  @include breakpoint($normal) {
    .l-region--branding {
      height: 30px;
    }

    .block--tude-general-header-donate-block {
      width: $normal-width;
    }

    .header-wrapper {
      height: 208px;
    }

    .l-region--header {
      position: fixed;
      top: 30px;
      z-index: 0;
    }
  }

  @include breakpoint($wide) {
    .l-region--branding {
      height: 36px;
    }

    .block--tude-general-header-donate-block {
      width: $wide-width;
    }

    .header-wrapper {
      height: 260px;
    }

    .l-region--header {
      position: fixed;
      top: 36px;
      z-index: 0;
    }
  }

}
