.wysiwyg-quote-credit {
  @extend blockquote;
  @include clearfix;
  @include remify-style(font-size, 18px);
  @include remify-style(line-height, 26px);
  @include remify-style(padding-left, 32px);
  color: $navy;
  padding-top: 0;
}

.wysiwyg-fact,
.wysiwyg-fact-credit {
  display: block;
  color: $white;
  font-family: $marker;
  text-align: center;
  background-color: $navy;
  @include remify-style(padding, 20px);
  @include remify-style(font-size, 34px);
  @include remify-style(line-height, 42px);
  @include remify-style(margin-top, 40px);

  strong {
    color: $yellow;
  }

  @include breakpoint($narrow) {
    margin-left: 8%;
    margin-right: 8%;
  }

  @include breakpoint($normal) {
    @include remify-style(padding, 30px);
  }

  @include breakpoint($wide) {
    margin-left: 12%;
    margin-right: 12%;
  }
}

.wysiwyg-fact-credit {
  color: $slate;
  padding-top: 0;
  margin-top: 0;
  @include remify-style(margin-bottom, 40px);
  @include remify-style(font-size, 18px);
  @include remify-style(line-height, 26px);
}

.wysiwyg-button {
  @include big-button;
  display: block;
}

.wysiwyg-button a {
  color: $yellow;
}

.file-full-width img {
  @include remify-style(margin-left, -20px);
  max-width: calc(100% + 40px);

  @include breakpoint($narrow) {
    @include remify-style(margin-left, -30px);
    max-width: none;
  }

  @include breakpoint($wide) {
    @include remify-style(margin-left, -50px);
  }
}

.wysiwyg-date {
  @include remify-style(font-size, 14px);
  @include remify-style(line-height, 26px);
  color: $navy;
  text-transform: uppercase;
  font-style: italic;
}
