{% extends 'base.html' %}
{% block content %}
<h2>Welcome to my portfolio.</h2>
<p>In my current position I'm a researcher at Forrester Research. I write about requirements, developer trends, and digital experience delivery. 
Before that, I worked on <b>machine learning</b> and <b>machine translation</b> projects. 
I also do <b>front-end</b> and <b>back-end web development</b>. </p>
<p>I have a BA in cognitive science with a minor in computer science from Pomona College.</p>
<p>I live in Berkeley, California.</p>

{% endblock %}