{% extends 'base.html' %}
{% block content %}
<br>
<li>Back-end web development in Python</li>
<li>Front-end web development in JavaScript/JQuery</li>
<li>Data visualization in D3.js</li>
<li>Machine learning and predictive analysis of bioacoustic data</li>
<li>Machine translation</li>
<li>Research and writing on enterprise Agile app development</li>
<li>BA in cognitive science with a minor in computer science from Pomona College</li>
<li>I live in Berkeley, California.</li>

<p>Samples of projects I've worked on are linked on the left.</p>

{% endblock %}