{% extends 'base.html' %}
{% block content %}
<h2>Re-Ranking Text Simplification</h2>
<h3>Senior thesis, Pomona College</h3>

<p>For my senior thesis I worked on <b>machine text simplification</b>: translating complex sentences into simple ones.
The goal of text simplification is to preserve the meaning of a sentence while switching to a more accessible structure and vocabulary.</p>

<p>This project builds on Kauchak and Coster (2010), who used a <b>probabilistic phrase-based translation model</b> for text simplification. 
For training and test data they used paired sentences from English Wikipedia and Simple English Wikipedia. </p>

<p>In this project, I researched models of linguistic complexity in order to identify <b>features of simple sentences</b>. 
Coding in <b>Java</b>, I used those features to train an <b>SVM re-ranker</b> and re-rank the output of the baseline model. </p>

<h2><a href='files/Vivian_Brown_Senior_Thesis_2011.pdf' target='_blank'>Full paper</a></h2>

<p>Thanks to Professor Kauchak and Professor Burke, my thesis advisors!</p>
{% endblock %}