{% extends 'base.html' %}
{% block content %}
<h2>OpenDisclosure</h2>

<p>I'm currently working on a project with <a href='http://openoakland.org/'>OpenOakland</a>, the Oakland volunteer "Brigade" of <a href-'http://codeforamerica.org/'>Code for America</a>.</p>

<p>We're working on a campaign finance transparency project called OpenDisclosure. My focus is to design and code charts in <b>JavaScript and D3.js</b> of Oakland mayoral campaign contributions and expenditures. The app is written in Ruby using the Sinatra framework.</p>

<img src='/images/opendisclosure_map.png' width=724px title='Visualization of contributor locations'>
<h4><a href='http://opendisclosure.io/' target='_blank'>Working site</a> | <a href='https://github.com/openoakland/opendisclosure' target='_blank'>Code on GitHub</a></h4>

{% endblock %}