body {
  font-family: $sans-serif;
  @include remify-style(font-size, 13px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  @include remify-style(margin-bottom, 10px);
}

h1, h2 {
  @include remify-style(margin-bottom, 15px);
  @include remify-style(font-size, 30px);
  font-family: $sans-serif-condensed;
}

h3 {
}

h4 {
}

h5,
h6 {}

p {}

a {
  // @include link-colors($mint, $light-navy, $fog, $mint, $navy);
  @include hyphenation;
  text-decoration: none;

  &.active-trail,
  &.active {
    // color: $navy;
  }
}

blockquote {
}

blockquote,
blockquote p {
}

em {
  font-style: italic;
}

b,
strong {
  // color: $black;
  // font-weight: $regular;
}

em strong,
strong em {
  // font-style: italic;
  // color: $black;
  // font-weight: $regular;
}

.subtitle {
  @include remify-style(margin-bottom, 20px);
  @include remify-style(font-size, 16px);
  font-family: $serif;
  font-weight: 400;
}

.page-title {
  @include remify-style(margin-bottom, 4px);
}

