.node-type-my-fattitude {
  .messages-icon {
    display: none;
  }

  .messages--status {
    margin: 0;
    @include remify-style(margin-left, 20px);
    @include remify-style(margin-right, 20px);
    @include remify-style(margin-bottom, 10px);
    padding: 0;
    border: none;
    background: none;

    @include breakpoint($narrow) {
      margin: 0;
    }
  }

  .messages--status a {
    @include big-button;
    @include remify-style(margin-top, 35px);
    @include remify-style(margin-bottom, 30px);
    display: block;

    @include breakpoint($narrow) {
      @include remify-style(margin-bottom, 20px);
    }
  }

  .node--my-fattitude {
    text-align: center;

    @include breakpoint($narrow) {
      float: left;
      @include remify-style(padding-right, 25px);
      @include remify-style(padding-bottom, 20px);
    }
  }

  .block--tude-general-my-fattitude-pledge-block {
    @extend h4;
  }

  .block--tude-general-my-fattitude-see-all-block {
    @include remify-style(margin-top, 20px);
    @include remify-style(margin-bottom, 20px);
    float: right;
    width: 100%;
    align: center;

    a {
      @include retina-sprite('See_all', $hover: true, $active: true);
      @include image-replace-link;
      margin: auto;
    }
  }

  .block--tude-general-my-fattitude-facts-block {
    @include remify-style(padding-top, 10px);
    clear: both;
  }
}

