.block--views-my-fattitude-block,
.view-my-fattitude.view-display-id-page {
  @include remify-style(padding-top, 24px);
  @include full-column;
  background-color: $medium-grey;
  h2 {
    color: $white;
  }
}

.block--views-my-fattitude-block {
  @include remify-style(padding-bottom, 60px);
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url('../images/backgrounds/White_edge_mobile.png');
  @include retina-image('../images/backgrounds-2x/White_edge_mobile.png', 740px, 21px);

  @include breakpoint($narrow) {
    background-image: url('../images/backgrounds/White_edge_740.png');
    @include retina-image('../images/backgrounds-2x/White_edge_740.png', 740px, 21px);
  }
  @include breakpoint($normal) {
    background-image: url('../images/backgrounds/White_edge_980.png');
    @include retina-image('../images/backgrounds-2x/White_edge_980.png', 980px, 27px);
  }

  @include breakpoint($wide) {
    background-image: url('../images/backgrounds/White_edge_1220.png');
    @include retina-image('../images/backgrounds-2x/White_edge_1220.png', 1220px, 32px);
  }
}

.view-my-fattitude.view-display-id-page {
  @include remify-style(padding-bottom, 60px);
  background-repeat: no-repeat;
  background-position: bottom;

  @include breakpoint($narrow) {
    background-image: url('../images/backgrounds/edge_740.png');
    @include retina-image('../images/backgrounds-2x/edge_740.png', 740px, 17px);
  }
  @include breakpoint($normal) {
    background-image: url('../images/backgrounds/edge_980.png');
    @include retina-image('../images/backgrounds-2x/edge_980.png', 980px, 21px);
  }

  @include breakpoint($wide) {
    background-image: url('../images/backgrounds/edge_1220.png');
    @include retina-image('../images/backgrounds-2x/edge_1220.png', 1220px, 27px);
  }
}

.page-my-fattitude .block--delta-blocks-page-title {
  @include full-column;
}

.my-fattitude-overview {
  @include partial-column;
  @extend h4;
  @include remify-style(margin-bottom, 34px);
}

.upload-help-text {
  @extend h4;
}

.block--views-my-fattitude-block .block__title {
  @include remify-style(margin-bottom, 20px);
  @include breakpoint($narrow) {
    @include remify-style(margin-bottom, 44px);
  }
}

// Definite photo grid (all my_fattitude views)
.view-id-my_fattitude {
  @include clearfix;

  .view-header {
    float: left;
  }

  .views-row,
  .view-header,
  .view-footer {
    width: 33%;
    height: 33%;
    float: left;
    padding-bottom: 9px;
    padding-right: 3px;
    padding-left: 3px;
    &:nth-child(3n+1) {
      padding-left: 0;
      padding-right: 6px;
    }
    &:nth-child(3n) {
      padding-left: 6px;
      padding-right: 0;
    }

    @include breakpoint($narrow) {
      width: auto;
      height: auto;
      &:nth-child(n) {
        padding-left: 0;
        padding-right: 9px;
      }
      &:nth-child(4n-1) {
        padding-right: 0;
      }
    }

    @include breakpoint($normal) {
      &:nth-child(n) {
        padding-right: 9px;
      }
      &:nth-child(5n-1) {
        padding-right: 0;
      }
    }

    @include breakpoint($wide) {
      &:nth-child(n) {
        padding-right: 9px;
      }
      &:nth-child(6n-1) {
        padding-right: 0;
      }
    }
  }
}

.view-id-my_fattitude .view-footer:nth-child(n) {
  padding-right: 0;

  @include breakpoint($normal) {
    padding-right: 0;
  }

  @include breakpoint($wide) {
    padding-right: 0;
  }
}

// Set number of photos displayed on homepage block.
// Ensure that each row is full - no stragglers.
.block--views-my-fattitude-block {
  .views-row {
    &:nth-child(n+15) {
      display: none;
    }

    @include breakpoint($normal) {
      &:nth-child(n) {
        display: block;
      }
      &:nth-child(n+19) {
        display: none;
      }
    }

    @include breakpoint($wide) {
      &:nth-child(n) {
        display: block;
      }
    }

  }
}

// Special "Add Yours" layout on mobile.
.view-id-my_fattitude .view-header {
  width: 100%;

  @include breakpoint($narrow) {
    width: auto;
  }
}

.my-fattitude-add-yours {
  @include remify-style(font-size, 28px);
  @include remify-style(line-height, 36px);
  font-family: $marker;

  @include remify-style(padding-bottom, 5px);


  @include breakpoint($narrow) {
    background: url('../images/backgrounds/Add_yours_narrow.png') no-repeat;
    @include retina-image('../images/backgrounds-2x/Add_yours_narrow.png', 163px, 203px);
    @include remify-style(font-size, 38px);
    @include remify-style(width, 163px);
    @include remify-style(height, 203px);
    @include remify-style(margin-top, -41px);
    text-align: center;

    // Center text in the circle.
    padding: 0;
    @include remify-style(padding-top, 92px);
  }

  @include breakpoint($normal) {
    background: url('../images/backgrounds/Add_yours_normal.png') no-repeat;
    @include retina-image('../images/backgrounds-2x/Add_yours_normal.png', 177px, 219px);
    @include remify-style(width, 177px);
    @include remify-style(height, 219px);
    @include remify-style(margin-top, -44px);

    // Center text in the circle.
    @include remify-style(padding-top, 103px);
  }

  @include breakpoint($wide) {
    background: url('../images/backgrounds/Add_yours_wide.png') no-repeat;
    @include retina-image('../images/backgrounds-2x/Add_yours_wide.png', 179px, 221px);
    @include remify-style(width, 179px);
    @include remify-style(height, 221px);
    @include remify-style(margin-top, -43px);
  }
}

.my-fattitude-sign-woman {
  background: url('../images/backgrounds/Fattitude_girl_mobile.png') no-repeat;
  @include retina-image('../images/backgrounds-2x/Fattitude_girl_mobile.png', 227px, 227px);
  padding-top: 50%;
  padding-bottom: 50%;
  background-size: 100%;

  @include breakpoint($narrow) {
    padding: 0;
    background: url('../images/backgrounds/Fattitude_girl_narrow.png') no-repeat;
    @include retina-image('../images/backgrounds-2x/Fattitude_girl_narrow.png', 163px, 163px);
    @include remify-style(height, 163px);
    @include remify-style(width, 163px);
  }

  @include breakpoint($normal) {
    background: url('../images/backgrounds/Fattitude_girl_normal.png') no-repeat;
    @include retina-image('../images/backgrounds-2x/Fattitude_girl_normal.png', 177px, 177px);
    @include remify-style(height, 177px);
    @include remify-style(width, 177px);
  }

  @include breakpoint($wide) {
    background: url('../images/backgrounds/Fattitude_girl_wide.png') no-repeat;
    @include retina-image('../images/backgrounds-2x/Fattitude_girl_wide.png', 179px, 179px);
    @include remify-style(height, 179px);
    @include remify-style(width, 179px);
  }
}

.view-id-my_fattitude .more-link {
  @include remify-style(margin-top, 6px);
  float: right;
  width: 100%;
  align: center;

  a {
    @include retina-sprite('See_all', $hover: true, $active: true);
    @include image-replace-link;
    margin: auto;
  }
}
