$serif: 'Museo Slab', Georgia, Times, serif;
$sans-serif: 'Roboto', Helvetica, sans-serif;
$marker: 'Roboto';

$regular: 500;

// $round-to-nearest-half-line: true; // Allows compass to round to  multiples of 0.5x line height
$rhythm-unit: "rem"; // Sets rhythm unit to rem. Remove to use default em unit.
$rem-with-px-fallback: true;

$base-font-size: 15px;
$base-line-height: 22px;

$h1-fz: 62px;
$h1-lh: 70px;

$h2-fz: 50px;
$h2-lh: 60px;

$h3-fz: 27px;
$h3-lh: 33px;

$h4-fz: 20px;
$h4-lh: 30px;

$medium-fz: 17px;
$medium-lh: 30px;

$small-fz: 16px;
$small-lh: 23px;

$xsmall-fz: 15px;
$xsmall-lh: 30px;
